.ex-1-square {
  transition: all 1s linear;
}

.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  transition: all 1.5s ease-in-out;
}

.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  transition: all .5s linear;
}

.ex-3-square:hover {
  border-radius: 50%;
}

.ex-4-square {
  transition: all .5s linear;
}

.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square {
  transition: all .5s linear;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(.5);
}